
.titulo{
    margin-top: 0px;
    padding-top: 0px;
    color: black;
    font-size: 4em;
    font-weight: bold;
   
}

.status{
display: flex;
justify-content: center;
text-align: center;
}

.itemStatus{
padding: 10px;
border-right: black solid;
}

.form {
    margin: 0px;
    padding: 0px;
    background-color: #11ADA8;
    min-height: 100vh;
    font-size: 1em;
    color:#050004;
}



.colorColun{
    background-color: #c72129;
}

.body{
    min-height: 100vh;
 background-color: #030303;   
}

.tituloApp{
    color: beige;
    padding: 30px;
    /* text-align: center; */
}

.card {
margin: 10px;
}

.col  {
    border: solid white 2px;
    margin: 10px;
    padding: 30px;
}
.row>*{
    padding-left: 0px;
    padding-right: 0px;
}

.titleCenter {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}